<div class="row" id="page-header">
	<h1 ng-if="!page">Nouvelle Page</h1>
	<h1 ng-if="page">{{ page.name }}</h1>
</div>

<div id="content" class="row">
	<flash-message duration="4000" show-close="true"></flash-message>

	<form ng-submit="submit()" id="text-form" class="form-horizontal">
		<!-- Page Name -->
		<div class="form-group">
			<input class="form-control" type="text" ng-model="page.name" placeholder="Nom de la page (max 50 caractères)" maxlength="50" required/>
		</div>
		<!-- Page Text -->
		<div class="form-group">
			<label>Contenu</label>
			<text-angular ng-model="page.text" class="page-editor"></text-angular>
		</div>

		<button type="submit" class="btn btn-primary btn-lg col-md-3" ng-disabled="disabled">
			<span ng-if="disabled">
				<i class="fa fa-spinner"></i> Enregistrement...
			</span>
			<span ng-if="!disabled">Enregistrer</span>
		</button>
	</form>
</div>