<div type="button" class="dropdown">
	<i data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="fa fa-font picker-icon"></i>
	<div class="dropdown-menu" aria-labelledby="dLabel">
		<div class="color-button"><i class="fa fa-2x fa-square red" value="red"></i></div>
		<div class="color-button"><i class="fa fa-2x fa-square blue" value="blue"></i></div>
		<div class="color-button"><i class="fa fa-2x fa-square green" value="green"></i></div>
		<div class="color-button"><i class="fa fa-2x fa-square yellow" value="yellow"></i></div>
	</div>
</div>