<div type="button" class="dropdown">
	<img src="/front/assets/img/gelule_none_mini.png" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="picker-icon"></img>
	<div class="dropdown-menu" aria-labelledby="dLabel">
		<div class="image-button"><img src="/front/assets/img/gelule_ok.png"/></div>
		<div class="image-button"><img src="/front/assets/img/gelule_middle.png"/></div>
		<div class="image-button"><img src="/front/assets/img/gelule_alert.png"/></div>
		<div class="image-button"><img src="/front/assets/img/gelule_none.png"/></div>
	</div>
</div>